@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Ubuntu Mono';
  src: url('../src/assets/fonts/UbuntuMono-Regular.ttf') format('truetype');
}

body {
  font-family: 'Ubuntu Mono', monospace;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}
